<div class='congratulation'>
   <div class='container'>
     <div class='head'>
        <h1>Thank you for your donation</h1>
     </div>
     <div class='contact'>
        Confirmation letter was sent to <span class='email'>{{holder.email}}</span>
     </div>
     <div class='contact'>
        If you have chosen the original artwork, the manager will contact you shortly to clarify the delivery details
     </div>
   </div>

</div>
