    <div class="main-info">
        <div class="container">
          <div>
            <p id="text"><span class="header">ТокенДобра</span> – проект на стыке благотворительности, искусства и новых технологий. Его главные задачи: помощь НКО в получении дополнительного финансирования и развитие творческого потенциала их подопечных.</p>
            <br/>
            <p id="text">Среди людей с особыми потребностями есть множество талантов, которые всё свободное время посвящают творчеству. Мы хотим, чтобы их работы увидела широкая аудиторию, а у благотворительных организаций появился новый вариант фандрайзинга.</p>
            <br/>
            <p id="text">Мы верим, что благодаря нашему проекту у НКО расширится круг доноров, в организациях увеличится количество творческих программ. Дети и подростки получат новые возможности проявить себя, а кто-то выйдет на мировой уровень известности. Если вы разделяете с нами эти перспективы, расскажите о проекте Charible в чатах ваших друзей или коллег по работе. Мы будем вам крайне признательны.</p>
            </div>
        </div>
    </div>
