    <div style="margin-top: 119px;" class="our-team">
        <div class="container">
            <h1>Команда</h1>
            <div class="team">
                <div id="team-member first" class="team-member">
                    <img src="https://static.tildacdn.com/tild3233-6564-4562-a262-376533363934/pavel_1.png"
                        alt="" class="avatar">
                    <div class="info">
                        <p class="name">Павел Матвеев</p>
                        <p class="member-tasks">
                            Отвечает за маркетинг, PR и финансы. Бывший совладелец коммуникационного агенства Back2work
                        </p>
                    </div>
                </div>
                <div id="team-member" class="team-member">
                    <img src="https://static.tildacdn.com/tild3634-3730-4061-b364-366164373038/ira_1.png"
                        alt="" class="avatar">
                    <div class="info">
                        <p class="name">Ирина Пудовинникова</p>
                        <p class="member-tasks">
                            Отвечает за сотрудничество с благотворительными организациями. Поведенческий аналитик в фонде «Журавлик»
                        </p>
                    </div>
                </div>
                <div id="team-member" class="team-member">
                    <img src="https://static.tildacdn.com/tild3231-3364-4662-b662-313639396536/kolya_1.png"
                        alt="" class="avatar">
                    <div class="info">
                        <p class="name">Николай Рождественский</p>
                        <p class="member-tasks">
                            Отвечает за работу сайта. Бывший совладелец сервиса доставки товаров из США shopoglot.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
