{% set main_css = 'assets/css/main/main.css' %}
{% set media_css = 'assets/css/main/media.css' %}
{% set main_js = 'assets/js/main/script.js' %}


{% extends "../layouts/marketplace.layout.njk" %}

{% block content %}
   {% include "./order.njk"%}
   {% include "./order-form.njk"%}
{% endblock %}
