    <div class="funds">
        <div class="container">
            <p class="title">Фонды</p>
            <div class="fund">
                <div class="content">
                    <div class="description">
                        <img src="https://res.cloudinary.com/dgn56mbcr/image/upload/v1672768257/%D1%82%D0%BE%D0%BA%D0%B5%D0%BD%20%D0%B4%D0%BE%D0%B1%D1%80%D0%B0%20/avatar_v9vpxz.png" alt="" class="logo">
                        <div class="head">
                            <p>Журавлик</p>
                            <p>10 картин | 10 000 NFT</p>
                        </div>
                        <div class="story">
                            <p class="story">Какой-то рассказ о фонде рассказ о фонде рассказ о фонде рассказ о фонде
                                рассказ о фонде рассказ о фонде рассказ о фонде рассказ. <a href="">Подробнее</a></p>
                        </div>
                    </div>
                    <div class="nft-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                        <div class="wrapper swiper-wrapper" id="swiper-wrapper-31016109f045137ebc" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(-824px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="5" role="group" aria-label="6 / 6" style="width: 396px; margin-right: 16px;">
                                <div class="item-nft">
                                    <div class="bg"></div>
                                    <img src="https://res.cloudinary.com/dgn56mbcr/image/upload/v1672243380/%D1%82%D0%BE%D0%BA%D0%B5%D0%BD%20%D0%B4%D0%BE%D0%B1%D1%80%D0%B0%20/image_10_ij3sw6.png" alt="">
                                    <div class="tips">
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>pre-NFT</p>
                                        </span>
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>картина</p>
                                        </span>
                                    </div>
                                    <div class="bottom">
                                        <p class="name">Дино</p>
                                        <div class="info">
                                            <div class="stats">
                                                <p class="price">1500 ₽</p>
                                                <p class="tip">Олег Орлов</p>
                                            </div>
                                            <div class="progress-bar"><div class="bar" style="width: 20%;"></div></div>
                                            <span data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽." class="tool">
                                                <p class="count tip2"><span>200</span> / 1000</p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" role="group" aria-label="1 / 6" style="width: 396px; margin-right: 16px;">
                                <div class="item-nft">
                                    <div class="bg"></div>
                                    <img src="https://res.cloudinary.com/dgn56mbcr/image/upload/v1672243380/%D1%82%D0%BE%D0%BA%D0%B5%D0%BD%20%D0%B4%D0%BE%D0%B1%D1%80%D0%B0%20/image_10_ij3sw6.png" alt="">
                                    <div class="tips">
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>pre-NFT</p>
                                        </span>
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>картина</p>
                                        </span>
                                    </div>
                                    <div class="bottom">
                                        <p class="name">Дино</p>
                                        <div class="info">
                                            <div class="stats">
                                                <p class="price">1500 ₽</p>
                                                <p class="tip">Олег Орлов</p>
                                            </div>
                                            <div class="progress-bar"><div class="bar" style="width: 32.1%;"></div></div>
                                            <span data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽." class="tool">
                                                <p class="count tip2"><span>321</span> / 1000</p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" role="group" aria-label="2 / 6" style="width: 396px; margin-right: 16px;">
                                <div class="item-nft">
                                    <div class="bg"></div>
                                    <img src="https://res.cloudinary.com/dgn56mbcr/image/upload/v1672243380/%D1%82%D0%BE%D0%BA%D0%B5%D0%BD%20%D0%B4%D0%BE%D0%B1%D1%80%D0%B0%20/image_10_ij3sw6.png" alt="">
                                    <div class="tips">
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>pre-NFT</p>
                                        </span>
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>картина</p>
                                        </span>
                                    </div>
                                    <div class="bottom">
                                        <p class="name">Дино</p>
                                        <div class="info">
                                            <div class="stats">
                                                <p class="price">1500 ₽</p>
                                                <p class="tip">Олег Орлов</p>
                                            </div>
                                            <div class="progress-bar"><div class="bar" style="width: 77.7%;"></div></div>
                                            <span data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽." class="tool">
                                                <p class="count tip2"><span>777</span> / 1000</p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" role="group" aria-label="3 / 6" style="width: 396px; margin-right: 16px;">
                                <div class="item-nft">
                                    <div class="bg"></div>
                                    <img src="https://res.cloudinary.com/dgn56mbcr/image/upload/v1672243380/%D1%82%D0%BE%D0%BA%D0%B5%D0%BD%20%D0%B4%D0%BE%D0%B1%D1%80%D0%B0%20/image_10_ij3sw6.png" alt="">
                                    <div class="tips">
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>pre-NFT</p>
                                        </span>
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>картина</p>
                                        </span>
                                    </div>
                                    <div class="bottom">
                                        <p class="name">Дино</p>
                                        <div class="info">
                                            <div class="stats">
                                                <p class="price">1500 ₽</p>
                                                <p class="tip">Олег Орлов</p>
                                            </div>
                                            <div class="progress-bar"><div class="bar" style="width: 11.1%;"></div></div>
                                            <span data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽." class="tool">
                                                <p class="count tip2"><span>111</span> / 1000</p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="3" role="group" aria-label="4 / 6" style="width: 396px; margin-right: 16px;">
                                <div class="item-nft">
                                    <div class="bg"></div>
                                    <img src="https://res.cloudinary.com/dgn56mbcr/image/upload/v1672243380/%D1%82%D0%BE%D0%BA%D0%B5%D0%BD%20%D0%B4%D0%BE%D0%B1%D1%80%D0%B0%20/image_10_ij3sw6.png" alt="">
                                    <div class="tips">
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>pre-NFT</p>
                                        </span>
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>картина</p>
                                        </span>
                                    </div>
                                    <div class="bottom">
                                        <p class="name">Дино</p>
                                        <div class="info">
                                            <div class="stats">
                                                <p class="price">1500 ₽</p>
                                                <p class="tip">Олег Орлов</p>
                                            </div>
                                            <div class="progress-bar"><div class="bar" style="width: 66.6%;"></div></div>
                                            <span data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽." class="tool">
                                                <p class="count tip2"><span>666</span> / 1000</p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="4" role="group" aria-label="5 / 6" style="width: 396px; margin-right: 16px;">
                                <div class="item-nft">
                                    <div class="bg"></div>
                                    <img src="https://res.cloudinary.com/dgn56mbcr/image/upload/v1672243380/%D1%82%D0%BE%D0%BA%D0%B5%D0%BD%20%D0%B4%D0%BE%D0%B1%D1%80%D0%B0%20/image_10_ij3sw6.png" alt="">
                                    <div class="tips">
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>pre-NFT</p>
                                        </span>
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>картина</p>
                                        </span>
                                    </div>
                                    <div class="bottom">
                                        <p class="name">Дино</p>
                                        <div class="info">
                                            <div class="stats">
                                                <p class="price">1500 ₽</p>
                                                <p class="tip">Олег Орлов</p>
                                            </div>
                                            <div class="progress-bar"><div class="bar" style="width: 25%;"></div></div>
                                            <span data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽." class="tool">
                                                <p class="count tip2"><span>250</span> / 1000</p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="5" role="group" aria-label="6 / 6" style="width: 396px; margin-right: 16px;">
                                <div class="item-nft">
                                    <div class="bg"></div>
                                    <img src="https://res.cloudinary.com/dgn56mbcr/image/upload/v1672243380/%D1%82%D0%BE%D0%BA%D0%B5%D0%BD%20%D0%B4%D0%BE%D0%B1%D1%80%D0%B0%20/image_10_ij3sw6.png" alt="">
                                    <div class="tips">
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>pre-NFT</p>
                                        </span>
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>картина</p>
                                        </span>
                                    </div>
                                    <div class="bottom">
                                        <p class="name">Дино</p>
                                        <div class="info">
                                            <div class="stats">
                                                <p class="price">1500 ₽</p>
                                                <p class="tip">Олег Орлов</p>
                                            </div>
                                            <div class="progress-bar"><div class="bar" style="width: 20%;"></div></div>
                                            <span data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽." class="tool">
                                                <p class="count tip2"><span>200</span> / 1000</p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" aria-label="1 / 6" style="width: 396px; margin-right: 16px;">
                                <div class="item-nft">
                                    <div class="bg"></div>
                                    <img src="https://res.cloudinary.com/dgn56mbcr/image/upload/v1672243380/%D1%82%D0%BE%D0%BA%D0%B5%D0%BD%20%D0%B4%D0%BE%D0%B1%D1%80%D0%B0%20/image_10_ij3sw6.png" alt="">
                                    <div class="tips">
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>pre-NFT</p>
                                        </span>
                                        <span class="tool tip" data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                            <p>картина</p>
                                        </span>
                                    </div>
                                    <div class="bottom">
                                        <p class="name">Дино</p>
                                        <div class="info">
                                            <div class="stats">
                                                <p class="price">1500 ₽</p>
                                                <p class="tip">Олег Орлов</p>
                                            </div>
                                            <div class="progress-bar"><div class="bar" style="width: 32.1%;"></div></div>
                                            <span data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽." class="tool">
                                                <p class="count tip2"><span>321</span> / 1000</p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                </div>
            </div>
        </div>
    </div>
