    <div class="first-block">
        <div class="container">
            <div class="top-content">
                <div class="left-side">
                    <p>Благотворительная <br><span class="italic">NFT-галерея</span><br>
                        с картинами особенных детей и подростков</p>
                    <a href="" class="btn-black">Посмотреть все картины</a>
                    <p class="description">Чтобы зарезервировать NFT, нужна только банковская карта.<br>
                        Криптовалюта и Web3-кошелёк вам <span class="italic">не понадобятся.</span></p>
                </div>
                <img src="https://github.com/jamb17/token-dobra/blob/main/image%203%20pc.png?raw=true"
                    alt="">
            </div>
            <div class="line"></div>
            <p class="bottom-description">Покупка картины – <span class="italic">это ваше пожертвование</span> в
                организацию, которую представляет автор работы. Вы не
                только станете благотворителем, но и получите право владения цифровой копией картины или её
                оригиналом, в зависимости от того, какой токен вы приобрели.</p>
        </div>
    </div>
