    <div class="first-block">
        <div class="container">
            <div class="top-content">
                <div class="left-side">
                    <p>Благотворительная  <br><span class="italic">NFT-галерея</span><br>
                        картин людей с особыми потребностями </p>
                    <a href="#works" class="btn-black">Смотреть картины</a>
                </div>
                <img src="/images/yadosub.png"
                    alt="">
            </div>
            <div class="line"></div>
            <p class="bottom-description">Сделайте пожертвование в благотворительную организацию и получите NFT картины или её оригинал. Криптовалюта вам не понадобится, нужна только банковская карта.</p>
        </div>
    </div>
