{% for item in gallery %}
  <div>{{ item.asset }}</div>
{% endfor %}

    <div class="last-works">
        <div class="container">
            <p class="head">Последние работы</p>
            <div class="responsive-works">
                <div class="works">
                    <div onclick="location.href='NFT'" class="item-nft">
                        <div class="bg"></div>
                        <img src="https://github.com/jamb17/token-dobra/blob/main/image%203%20pc.png?raw=true"
                            alt="">
                        <div class="tips">
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">pre-NFT</p>
                            </span>
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">картина</p>
                            </span>
                        </div>
                        <div class="info">
                            <p class="name">Дино</p>
                            <div class="stats">
                                <p class="price">1500 ₽</p>
                                <span
                                    data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽."
                                    class="tool">
                                    <p class="count tip2"><span class="nft-quantity">233</span> / 1000</p>
                                </span>
                            </div>
                            <div class="progress-bar">
                                <div class="bar"></div>
                            </div>
                            <p class="tip">Олег Орлов</p>
                        </div>
                    </div>
                    <div class="item-nft">
                        <div class="bg"></div>
                        <img src="https://github.com/jamb17/token-dobra/blob/main/image%203%20pc.png?raw=true"
                            alt="">
                        <div class="tips">
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">pre-NFT</p>
                            </span>
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">картина</p>
                            </span>
                        </div>
                        <div class="info">
                            <p class="name">Дино</p>
                            <div class="stats">
                                <p class="price">1500 ₽</p>
                                <span
                                    data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽."
                                    class="tool">
                                    <p class="count tip2"><span class="nft-quantity">233</span> / 1000</p>
                                </span>
                            </div>
                            <div class="progress-bar">
                                <div class="bar"></div>
                            </div>
                            <p class="tip">Олег Орлов</p>
                        </div>
                    </div>
                    <div class="item-nft">
                        <div class="bg"></div>
                        <img src="https://github.com/jamb17/token-dobra/blob/main/image%203%20pc.png?raw=true"
                            alt="">
                        <div class="tips">
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">pre-NFT</p>
                            </span>
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">картина</p>
                            </span>
                        </div>
                        <div class="info">
                            <p class="name">Дино</p>
                            <div class="stats">
                                <p class="price">1500 ₽</p>
                                <span
                                    data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽."
                                    class="tool">
                                    <p class="count tip2"><span class="nft-quantity">233</span> / 1000</p>
                                </span>
                            </div>
                            <div class="progress-bar">
                                <div class="bar"></div>
                            </div>
                            <p class="tip">Олег Орлов</p>
                        </div>
                    </div>
                    <div class="item-nft">
                        <div class="bg"></div>
                        <img src="https://github.com/jamb17/token-dobra/blob/main/image%203%20pc.png?raw=true"
                            alt="">
                        <div class="tips">
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">pre-NFT</p>
                            </span>
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">картина</p>
                            </span>
                        </div>
                        <div class="info">
                            <p class="name">Дино</p>
                            <div class="stats">
                                <p class="price">1500 ₽</p>
                                <span
                                    data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽."
                                    class="tool">
                                    <p class="count tip2"><span class="nft-quantity">233</span> / 1000</p>
                                </span>
                            </div>
                            <div class="progress-bar">
                                <div class="bar"></div>
                            </div>
                            <p class="tip">Олег Орлов</p>
                        </div>
                    </div>
                    <div class="item-nft">
                        <div class="bg"></div>
                        <img src="https://github.com/jamb17/token-dobra/blob/main/image%203%20pc.png?raw=true"
                            alt="">
                        <div class="tips">
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">pre-NFT</p>
                            </span>
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">картина</p>
                            </span>
                        </div>
                        <div class="info">
                            <p class="name">Дино</p>
                            <div class="stats">
                                <p class="price">1500 ₽</p>
                                <span
                                    data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽."
                                    class="tool">
                                    <p class="count tip2"><span class="nft-quantity">233</span> / 1000</p>
                                </span>
                            </div>
                            <div class="progress-bar">
                                <div class="bar"></div>
                            </div>
                            <p class="tip">Олег Орлов</p>
                        </div>
                    </div>
                    <div class="item-nft">
                        <div class="bg"></div>
                        <img src="https://github.com/jamb17/token-dobra/blob/main/image%203%20pc.png?raw=true"
                            alt="">
                        <div class="tips">
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">pre-NFT</p>
                            </span>
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">картина</p>
                            </span>
                        </div>
                        <div class="info">
                            <p class="name">Дино</p>
                            <div class="stats">
                                <p class="price">1500 ₽</p>
                                <span
                                    data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽."
                                    class="tool">
                                    <p class="count tip2"><span class="nft-quantity">233</span> / 1000</p>
                                </span>
                            </div>
                            <div class="progress-bar">
                                <div class="bar"></div>
                            </div>
                            <p class="tip">Олег Орлов</p>
                        </div>
                    </div>
                    <div class="item-nft">
                        <div class="bg"></div>
                        <img src="https://github.com/jamb17/token-dobra/blob/main/image%203%20pc.png?raw=true"
                            alt="">
                        <div class="tips">
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">pre-NFT</p>
                            </span>
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">картина</p>
                            </span>
                        </div>
                        <div class="info">
                            <p class="name">Дино</p>
                            <div class="stats">
                                <p class="price">1500 ₽</p>
                                <span
                                    data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽."
                                    class="tool">
                                    <p class="count tip2"><span class="nft-quantity">233</span> / 1000</p>
                                </span>
                            </div>
                            <div class="progress-bar">
                                <div class="bar"></div>
                            </div>
                            <p class="tip">Олег Орлов</p>
                        </div>
                    </div>
                    <div class="item-nft">
                        <div class="bg"></div>
                        <img src="https://github.com/jamb17/token-dobra/blob/main/image%203%20pc.png?raw=true"
                            alt="">
                        <div class="tips">
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">pre-NFT</p>
                            </span>
                            <span class="tool"
                                data-tool="Оплачивайте pre-NFT банковской картой. Вам не нужен web3 кошелёк и криптовалюта. В любой момент вы сможете обменять приобретённый pre-NFT на NFT">
                                <p class="tip">картина</p>
                            </span>
                        </div>
                        <div class="info">
                            <p class="name">Дино</p>
                            <div class="stats">
                                <p class="price">1500 ₽</p>
                                <span
                                    data-tool="Эта картина оцифрована в количестве 1000 токенов. 10 токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽."
                                    class="tool">
                                    <p class="count tip2"><span class="nft-quantity">233</span> / 1000</p>
                                </span>
                            </div>
                            <div class="progress-bar">
                                <div class="bar"></div>
                            </div>
                            <p class="tip">Олег Орлов</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
