    <a name="works"></a>
    <div class="last-works">
        <div class="container">
            <p class="head">Последние работы</p>
            <div class="responsive-works">

                <div class="works">
                {% for item in gallery %}
                    <div onclick="location.href='/artwork?uuid={{item.offer}}'" class="item-nft">
                        <div class="bg"></div>
                        <img src="{{item.image_link}}"
                            alt="">
                        <div class="tips">
                            <span class="tool"
                                data-tool="Сделав пожертвование в нашей галереи вы получаете pre-NFT. Это ваучер, резервирующий для вас NFT выбранной картины.">
                                <p class="tip">pre-NFT</p>
                            </span>
                            <span class="tool"
                                data-tool="Эту картину можно приобрести в оригинале">
                                <p class="tip">картина</p>
                            </span>
                        </div>
                        <div class="info">
                            <p class="name">{{item.viewasset.name}}</p>
                            <div class="stats">
                                <p class="price">{{item.token.price}} &#8381;</p>
                                <span
                                    data-tool="Эта картина оцифрована в количестве {{item.token.issue}} токенов"
                                    class="tool">
                                    <p class="count tip2"><span class="nft-quantity">{{item.token.sold}}</span> / {{item.token.issue}}</p>
                                </span>
                            </div>
                            <div class="progress-bar">
                                <div class="bar" style="width: {{item.token.progress}}%;"></div>
                            </div>
                            <p class="tip">{{item.viewperson.fullname}}</p>
                        </div>
                    </div>

{% endfor %}

                </div>
            </div>
        </div>
    </div>
