{% set main_css = 'assets/css/main/main.css' %}
{% set media_css = 'assets/css/main/media.css' %}
{% set main_js = 'assets/js/main/script.js' %}
{% set title = 'ТокенДобра' %}
{% set omg_image = '/images/badge_1.png' %}
{% set description = 'Благотворительная NFT-галерея картин людей с особыми потребностями' %}



{% extends "../layouts/marketplace.layout.njk" %}

{% block content %}

   {% include "./intro.njk"%}
   {% include "./lastworks.njk"%}
   {% include "./funds_pc.njk"%}
   {% include "./funds.njk"%}
   {% include "../shared/nft_simple.njk"%}

{% endblock %}
