<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <meta property="og:image" content="{{omg_image}}">

    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/td.ico">

    <link rel="stylesheet" href="{{ main_css  }}">
    <link rel="stylesheet" href="{{ media_css }}">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
         m[i].l=1*new Date();
         for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
         k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
         (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
            ym(92976237, "init", {
               clickmap:true,
               trackLinks:true,
               accurateTrackBounce:true,
               webvisor:true
         });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/92976237" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Chatra {literal} -->
    <script>
       (function(d, w, c) {
           w.ChatraID = 'K9Qq8S4acrcLCLKRX';
           var s = d.createElement('script');
           w[c] = w[c] || function() {
               (w[c].q = w[c].q || []).push(arguments);
           };
           s.async = true;
           s.src = 'https://call.chatra.io/chatra.js';
           if (d.head) d.head.appendChild(s);
       })(document, window, 'Chatra');
    </script>
    <!-- /Chatra {/literal} -->
</head>

<body>
    {% include "../shared/header.njk"%}
    {% block content %}{% endblock %}
    {% include "../shared/footer.njk"%}
    {% include "../shared/popup.njk"%}
    <script src="{{main_js}}"></script>

</body>

</html>