{% set main_css = 'css/main.main.css' %}
{% set media_css = 'css/main.media.css' %}
{% set main_js = 'css/main.main.js' %}


{% extends "../layouts/marketplace.layout.njk" %}

{% block content %}
   {% include "./intro.njk" as intro %}
   {% include "lastworks.njk" as lastworks %}
   {% include "funds_pc.njk" as funds_pc %}
   {% include "funds.njk" as funds %}
{% endblock %}
