    <div class="main-info">
        <div class="container">
          <div>
            <p id="text"><span class="header">Charible</span> project stands at the intersection of charity, art and new technologies. Our goals include supporting non-profit organizations with additional funding and and developing the creative potential of their programs for people with special needs.</p>
            <br/>
            <p id="text">Among people with special needs, there are many talents who devote all their free time to creativity. We want their works to be seen by a wider audience, we want non-profit organizations to discover a new tool for fundraising.</p>
            <br/>
            <p id="text">We believe that our project will expand the community of NGO donors, and the number of art programs in organizations will increase. Children and teenagers will get new opportunities to express themselves, and some of them will reach the world level of fame. If you share these perspectives with us, tell about Charible project in the chats of your friends or colleagues. We will be extremely grateful to you.</p>
            </div>
        </div>
    </div>
