    <div style="margin-top: 119px;" class="our-team">
        <div class="container">
            <h1>Our team</h1>
            <div class="team">
                <div id="team-member first" class="team-member">
                    <img src="https://static.tildacdn.com/tild3233-6564-4562-a262-376533363934/pavel_1.png"
                        alt="" class="avatar">
                    <div class="info">
                        <p class="name">Pavel Matveev</p>
                        <p class="member-tasks">
                            Responsible for marketing, PR and finance. Former co-owner of the event and marketing agency Back2work
                        </p>
                    </div>
                </div>
                <div id="team-member" class="team-member">
                    <img src="https://static.tildacdn.com/tild3634-3730-4061-b364-366164373038/ira_1.png"
                        alt="" class="avatar">
                    <div class="info">
                        <p class="name">Irina Pudovinnikova</p>
                        <p class="member-tasks">
                            Responsible for cooperation with non-profit organizations. Behavioral Analyst at Zhuravlik Foundation
                        </p>
                    </div>
                </div>
                <div id="team-member" class="team-member">
                    <img src="https://static.tildacdn.com/tild3231-3364-4662-b662-313639396536/kolya_1.png"
                        alt="" class="avatar">
                    <div class="info">
                        <p class="name">Nikolay Rozhdestvenskiy</p>
                        <p class="member-tasks">
                            Responsible for the product. Former co-owner of the mailforwarding company WeShip2You
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
