    <div class="description">
         {{organization.view.description | safe }}    
      <div class="description_additional">
         Город: <a href="{{organization.view.site}}" target='_blank'>{{organization.view.city}}</a>
      </div>
      <div class="description_additional">
         Сайт: <a href="{{organization.view.site}}" target='_blank' rel="nofollow" >{{organization.view.site}}</a>
      </div>

    </div>

