    <div class="main-image">
        <div class="container">
            <img src="{{organization.view.Lable.link}}"
                alt="" class="avatar">
            <h1>{{organization.view.name}}</h1>
            <div class="brief">
                <div class="picture-quantity">
                    <p>Картин</p>
                    <p>{{organization.count_creations}}</p>
                </div>
                <div class="divider"></div>
                <div class="nft-quantity">
                    <p>NFT</p>
                    <p>{{organization.count_tokens}}</p>
                </div>
            </div>
        </div>
    </div>
