{% set main_css = 'assets/css/organization/main.css' %}
{% set media_css = 'assets/css/organization/media.css' %}
{% set main_js = 'assets/js/organization/script.js' %}
{% set title = organization.view.name + ' x ТокенДобра' %}
{% set omg_image = '/images/badge_1.png' %}
{% set description = 'Организация «'+ organization.view.name + '» - предоставила картины своих подопечных в благотворительную NFT-галерею ТокенДобра. Здесь вы сможете поддержать организацию, сделав пожертвование, на развитие их творческих программ. В качестве благодарности за пожертвование вы получите оригиналы картин или их цифровые NFT/pre-NFT токены.' %}

{% extends "../layouts/marketplace.layout.njk" %}

{% block content %}
   {% include "./main_image.njk"%}
   {% include "./description.njk"%}
   {% include "./works.njk"%}

   {% include "../shared/nft_simple.njk"%}


{% endblock %}
