{% set main_css = 'assets/css/main/main.css' %}
{% set media_css = 'assets/css/main/media.css' %}
{% set main_js = 'assets/js/main/script.js' %}


{% extends "../layouts/marketplace.layout.njk" %}

{% block content %}
<div class='terms'>
   <div class="container">
      <center>
         <div class="title">FAQ</div>
      <center>
<br/>


   </div>
</div>

{% endblock %}
