<div class="pre-nft-popup">
        <div class="content">
            <div class="close-popup"></div>
            <div class="text">
                <p class="head">Что такое pre-NFT?</p>
                <div class="divider"></div>
                <p class="info">Сделав пожертвование в нашей галереи, вы получаете pre-NFT. Это ваучер, резервирующий для вас NFT выбранной картины. Чтобы сделать пожертвование, Web3-кошелёк и криптовалюта не понадобятся. Обменять полученный pre-NFT на NFT-токен можно в любой момент. Этот упрощённый вариант приобретения NFT подойдёт всем, особенно тем, кто ещё не разобрался в технологии Web3.</p>
            </div>
            <div class="text">
                <p class="head">Как обменять pre-NFT на NFT?</p>
                <div class="divider"></div>
                <p class="info">Это очень просто. Вы сможете обменять pre-NFT на NFT в любой момент, как только будете готовы (например, обзаведётесь Web3-кошельком). После этого вам необходимо будет: написать нам письмо на E-mail info@joincharible.com, в письме указать полученный вами номер pre-NFT, а также указать адрес Web3-кошелька, куда необходимо будет отправить выпущенный NFT.<br><br></p>
            </div>
        </div>
    </div>

    <div class="mobile-popup first">
        <div class="content">
            <div class="link">Как обменять pre-NFT на NFT? ></div>
            <div class="close-popup"></div>
            <div class="text">
                <p class="head">Что такое pre-NFT?</p>
                <div class="divider"></div>
                <p class="info">Сделав пожертвование в нашей галереи, вы получаете pre-NFT. Это ваучер, резервирующий для вас NFT выбранной картины. Чтобы сделать пожертвование, Web3-кошелёк и криптовалюта не понадобятся. Обменять полученный pre-NFT на NFT-токен можно в любой момент. Этот упрощённый вариант приобретения NFT подойдёт всем, особенно тем, кто ещё не разобрался в технологии Web3.</p>
            </div>
        </div>
    </div>

    <div class="mobile-popup second">
        <div class="content">
            <div class="link">< Что такое pre-NFT?</div>
            <div class="close-popup"></div>
            <div class="text">
                <p class="head">Как обменять pre-NFT на NFT?</p>
                <div class="divider"></div>
                <p class="info">Это очень просто. Вы сможете обменять pre-NFT на NFT в любой момент, как только будете готовы (например, обзаведётесь Web3-кошельком). После этого вам необходимо будет: написать нам письмо на E-mail info@joincharible.com, в письме указать полученный вами номер pre-NFT, а также указать адрес Web3-кошелька, куда необходимо будет отправить выпущенный NFT.</p>
            </div>
            </div>
        </div>
    </div>
