    <div class="funds" id="funds">
        <div class="container">
            <p class="title">Другие картины из этой организации</p>
      {% for organization in organizations %}

            <div class="fund">
                <div class="content">
                    <div onclick="location.href='/{{organization.view.page_link}}'" class="description">
                        <img src="{{organization.view.Lable.link}}"
                            alt="" class="logo">
                        <div class="head">
                            <p>{{organization.view.name}}</p>
                            <p>{{organization.count_creations}} картин | {{organization.count_tokens}}</p>
                        </div>
                        <div class="story">
                            <p class="story">{{organization.view.short_description | safe }}&nbsp;&nbsp;<a href="{{organization.view.page_link}}">Подробнее</a></p>
                        </div>
                    </div>
                    <div class="nft-slider swiper">
                        <div class="wrapper swiper-wrapper">
                    {% for item in organization.offers %}

                            <div class="swiper-slide">
                                <div onclick="location.href='/artwork?uuid={{item.offer}}'" class="item-nft">
                                    <div class="bg"></div>
                                    <img src="{{item.image_link}}"
                                        alt="">
                                    <div class="tips">
                                        <span class="tool tip"
                                            data-tool="Сделав пожертвование в нашей галереи вы получаете pre-NFT. Это ваучер, резервирующий для вас NFT выбранной картины.">
                                            <p>pre-NFT</p>
                                        </span>
                                        <span class="tool tip"
                                            data-tool="Эту картину можно приобрести в оригинале">
                                            <p>картина</p>
                                        </span>
                                    </div>
                                    <div class="bottom">
                                        <p class="name">{{item.viewasset.name}}</p>
                                        <div class="info">
                                            <div class="stats">
                                                <p class="price">{{item.token.price}} &#8381;</p>
                                                <p class="tip">{{item.viewperson.fullname}}</p>
                                            </div>
                                            <div class="progress-bar">
                                               <div class="bar" style="width: {{item.token.progress}}%;"></div>
                                            </div>
                                            <span
                                                data-tool="Эта картина оцифрована в количестве {{item.token.issue}} токенов"
                                                class="tool">
                                                <p class="count tip2"><span>{{item.token.sold}}</span> / {{item.token.issue}}</p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                 {% endfor %}


                        </div>
                    </div>
                </div>
            </div>


           {% endfor %}

        </div>
    </div>
