    <div class="responsive-footer">
        <div class="container">
            <div class="logo">
                <img src="images/logo.svg"
                    alt="">
            </div>
            <div class="links">
                <div class="left-side">
                    <nav>
                        <a href="/termsofservivce">Правила сайта</a>
                        <a href="/privacy">Конфиденциальность</a>
                    </nav>
                </div>
                <div class="right-side">
                    <div class="info">
                        <p class="head">Информация</p>
                        <nav>
                            <a href="/about">О проекте</a>
                            <a href="">FAQ</a>
                        </nav>
                    </div>
                    <div class="contacts">
                        <p class="head">Связь</p>
                        <nav>
                            <a target="_blank" href="https://t.me/TokenDobra" rel="noopener">@Telegram: TokenDobra</a>
                            <a href="mailto:help@tokendobra.ru">help@tokendobra.ru</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
