    <div class="responsive-footer">
        <div class="container">
            <div class="logo">
                <img src="images/logo.svg"
                    alt="">
            </div>
            <div class="links">
                <div class="left-side">
                    <nav>
                        <a href="/termsofservivce">Правила сайта</a>
                        <a href="/privacy">Конфиденциальность</a>
                    </nav>
                </div>
                <div class="right-side">
                    <div class="info">
                        <p class="head">Информация</p>
                        <nav>
                            <a href="/about">О проекте</a>
                            <a href="/faq">FAQ</a>
                        </nav>
                    </div>
                    <div class="contacts">
                        <p class="head">Связь</p>
                        <nav>
                            <a target="_blank" href="https://vk.com/tokendobra" rel="noopener">ВКонтакте</a>
                            <a target="_blank" href="https://t.me/tokendobra" rel="noopener">Telegram</a>
                            <a target="_blank" href="https://www.instagram.com/tokendobra" rel="noopener">Instagram</a>
                            <a href="mailto:info@tokendobra.ru">info@tokendobra.ru</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
