    <div class="responsive-footer">
        <div class="container">
            <div class="logo">
                <img src="https://raw.githubusercontent.com/jamb17/token-dobra/e41c22f493180a1e46c5b43956fda262cd3396f5/logo.svg"
                    alt="">
            </div>
            <div class="links">
                <div class="left-side">
                    <nav>
                        <a href="">Правила сайта</a>
                        <a href="">Оферта</a>
                        <a href="">Конфиденциальность</a>
                    </nav>
                </div>
                <div class="right-side">
                    <div class="info">
                        <p class="head">Информация</p>
                        <nav>
                            <a href="">FAQ</a>
                            <a href="">Миссия</a>
                            <a href="">Что такое pre-NFT</a>
                        </nav>
                    </div>
                    <div class="contacts">
                        <p class="head">Связь</p>
                        <nav>
                            <a target="_blank" href="https://t.me/TokenDobra">@Telegram: TokenDobra</a>
                            <a href="mailto:help@tokendobra.ru">help@tokendobra.ru</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
