    <header>
        <div class="container">
            <div class="top-header">
                <a href="" class="logo"><img
                        src="https://raw.githubusercontent.com/jamb17/token-dobra/e41c22f493180a1e46c5b43956fda262cd3396f5/logo.svg"
                        alt=""></a>
                <button class="open-mob-menu"></button>
            </div>
            <div class="navigation">
                <nav>
                    <a href="#">Зачем это все</a>
                    <a href="#">Что такое pre-NFT</a>
                    <a href="#">FAQ</a>
                </nav>
                <button class="btn-white">Расскажите о нас</button>
                <div class="mobile-email">
                    <p>Пишите нам:</p>
                    <a href="#">help@tokendobra.ru</a>
                </div>
            </div>
        </div>
    </header>
