    <div id="responsive-buy-nft" class="responsive-buy-nft">
        <div class="container">
            <img src="https://solana.com/ru/src/img/branding/solanaShape1-full.png?raw=true"
                alt="">
            <div class="text">
                <p>NFT - это просто</p>
                <p>Сделав пожертвование в нашей галереи, вы получаете pre-NFT. Это ваучер, резервирующий для вас NFT выбранной картины. Чтобы сделать пожертвование, Web3-кошелёк и криптовалюта не понадобятся. Обменять полученный pre-NFT на NFT-токен можно в любой момент. Этот упрощённый вариант приобретения NFT подойдёт всем, особенно тем, кто ещё не разобрался в технологии Web3.</p>
            </div>
        </div>
    </div>
