    <div class="pop-up">
        <div class="content">
            <div class="image"><img src="https://github.com/jamb17/token-dobra/blob/main/pop-up-img.png?raw=true" alt=""></div>
            <div class="image-mob"><img src="https://github.com/jamb17/token-dobra/blob/main/pop-up-img-mobile.png?raw=true" alt=""></div>
            <div class="request">
                <div class="text">
                    <p>Пожалуйста, расскажите о нас</p>
                    <p>Популяризация благотворительности – одна из главных задач нашего проекта. Мы будем крайне признательны, если вы поддержите эту идею и расскажете о галерее в своих социальных сетях.</p>

                </div>
                <div class="form">
                    <p class="form_text">https://tokendobra.ru</p>
                    <button class="copy" href=""><img
                            src="https://res.cloudinary.com/dgn56mbcr/image/upload/v1672325701/%D1%82%D0%BE%D0%BA%D0%B5%D0%BD%20%D0%B4%D0%BE%D0%B1%D1%80%D0%B0%20/icon-park-outline_copy_ry0jxc.svg"
                            alt="">Копировать</button>
                </div>
            </div>
            <div class="close">
                <div class="close-popup"><img
                        src="https://raw.githubusercontent.com/jamb17/token-dobra/70952a0dd1295d37a3bb5f8d0b15fc5bf5a8bffa/close.svg"
                        alt="">
                </div>
            </div>
        </div>
    </div>
