    <div class="responsive-buy-nft">
        <div class="container">
            <img src="https://github.com/jamb17/token-dobra/blob/main/animation.gif?raw=true"
                alt="">
            <div class="text">
                <p>Купить NFT очень просто</p>
                <p>В нашей галерее вы покупаете pre-NFT. Это ваучер, резервирующий NFT-картину. Для покупки pre-NFT
                    нужна только банковская карта, Web3-кошелёк и криптовалюта не понадобятся. Этот упрощённый вариант
                    покупки NFT подойдёт всем, особенно тем, кто ещё не начал разбираться в технологии Web3. Обменять
                    свой pre-NFT на NFT-токен можно в любой момент при наличии у вас криптокошелька.</p>
            </div>
        </div>
    </div>
