    <div class="tell-about-us">
        <div class="container">
            <p>Популяризация благотворительности – одна из главных задач нашего проекта. Мы будем крайне признательны, если вы поддержите эту идею и расскажете о галерее в своих социальных сетях.</p>
            <button id="open" class="btn-white">Расскажите о нас</button>
        </div>
    </div>
