    <div class="responsive-footer">
        <div class="container">
            <div class="logo">
                <img src="images/charible_logo.svg"
                    alt="">
            </div>
            <div class="links">
                <div class="left-side">
                    <nav>
                        <a href="/termsofservivce">Terms of Service</a>
                        <a href="">Privacy Policy</a>
                    </nav>
                </div>
                <div class="right-side">
                    <div class="info">
                        <p class="head">Information</p>
                        <nav>
                            <a href="">About</a>
                            <a href="">FAQ</a>
                        </nav>
                    </div>
                    <div class="contacts">
                        <p class="head">Contact</p>
                        <nav>
                            <a target="_blank" href="https://t.me/TokenDobra">@Telegram: TokenDobra</a>
                            <a href="mailto:help@tokendobra.ru">help@tokendobra.ru</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
