    <header>
        <div class="container">
            <div class="top-header">
                <a href="/" class="logo"><img
                        src="images/charible_logo.svg"
                        alt=""></a>
                <button class="open-mob-menu"></button>
            </div>
            <div class="navigation">
                <nav>
                    <a href="#">FAQ</a>
                    <a href="/about">About</a>


                </nav>
                <button class="btn-white">Share</button>
                <div class="mobile-email">
                    <p>Email to:</p>
                    <a href="#">help@tokendobra.ru</a>
                </div>
            </div>
        </div>
    </header>
