    <div id="responsive-buy-nft" class="responsive-buy-nft">
        <div class="container">
            <img src="https://solana.com/ru/src/img/branding/solanaShape1-full.png?raw=true"
                alt="">
            <div class="text">
                <p>NFT is simple </p>
                <p>By making a donation on our website, you will receive pre-NFT. This is a voucher that reserves the NFT of the selected artwork for you. You don't need a Web3-wallet or cryptocurrency to make a donation. You can exchange the received pre-NFT for an NFT token at any time. This simplified NFT purchase option is suitable for everyone, especially for those who are not familiar with Web3 technology.</p>
            </div>
        </div>
    </div>
