    <div class="tell-about-us">
        <div class="container">
            <p>Promoting the idea of charity is one of the main project goals. We will be extremely grateful if you support our project and tell about the gallery in your social media.</p>
            <button id="open" class="btn-white">Spread the word about our project</button>
        </div>
    </div>
