{% set main_css = 'assets/css/main/main.css' %}
{% set media_css = 'assets/css/main/media.css' %}
{% set main_js = 'assets/js/main/script.js' %}


{% extends "../layouts/marketplace.layout.njk" %}

{% block content %}
<div class='terms'>
   <div class="container">
      <center>
         <div class="title">Правила сайта</div>
      <center>
<br/>
<div class="item-terms">
Добро пожаловать на сайт https://tokendobra.ru, интернет-ресурс, позволяющий пользователям сети Интернет делать пожертвования и приобретать оригиналы, копии или оцифрованные версии (в форматах pre NFT/NFT) арт-объектов, созданных людьми с ограниченными возможностями, на условиях нижеуказанного Пользовательского соглашения! 
</div>
<div class="item-terms">
В соответствии со ст. 437 Гражданского кодекса Российской Федерации данное Пользовательское соглашение представляет собой публичную оферту, поэтому Вам необходимо внимательно с ним ознакомиться. 
</div>

<br/>
<div class="title">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</div>
<br/>

<div class="title">1. ОБЩИЕ ПОЛОЖЕНИЯ</div>
<br/>
<div class="item-terms">1.1. Настоящее Пользовательское соглашение является юридически обязательным соглашением между пользователем сети Интернет и Индивидуальным Предпринимателем Пудовинниковой Ириной Александровной (ИНН: 672506763393 ОГРНИП: 319774600158326 Адрес регистрации: 109469, г. Москва, ул. Братиславская, д. 30, кв. 17) (далее – «Сайт»), юридическим лицом, созданным по законодательству Российской Федерации и находящимся по адресу: https://tokendobra.ru/termsofservivce .</div>
<div class="item-terms">1.2. Все права на Сайт в целом и на использование сетевого адреса (доменного имени) tokendobra.ru принадлежат ИП Пудовинникова Ирина </div>
<div class="item-terms">1.3. Пользователем по настоящему Соглашению признается дееспособное физическое лицо, достигшее возраста 18 лет, принимающее условия настоящего Соглашения путем оформления заказа в установленном порядке на Сайте и/или путем продолжения использования функциональных возможностей Сайта.</div>
<div class="item-terms">1.4. Пользователь обязан полностью ознакомиться с настоящим Пользовательским соглашением до момента оформления заказа на Сайте tokendobra.ru. Оформление заказа означает полное и безоговорочное принятие Пользователем условий настоящего Пользовательского соглашения.</div>
<div class="item-terms">1.5. Если иного не требует контекст, то перечисленные ниже термины и определения, встречающиеся в настоящем Соглашении, имеют следующие значения: </div>
<div class="item-terms">«Арт-объект» - это уникальное творение, созданное человеком c ограничениями возможностями. В это понятие входят картины, скульптуры, инсталляции, графика, гравюры, фотографии, дизайн, музыкальные и текстовые записи, ремесленные и любые другие изделия, напоминающие произведения искусства;</div>
<div class="item-terms">«Оцифрованное изображение» - снимок или запись арт-объекта, преобразованные в цифровой формат (в том числе в формат уникального токена NFT);</div>

<div class="item-terms">«NFT» – вид криптографических невзаимозаменяемых токенов (уникальный цифровой код), каждый экземпляр которых содержит в себе информацию об исходном электронном адресе создателя и последующих адресах владельцев конкретного токена;</div>

<div class="item-terms">«Pre-NFT» – это уникальный код из букв и цифр (uuid), полученный Пользователем до выпуска токена NFT, который предоставляет право его обмена на NFT;</div>

<div class="item-terms">«Заказ» – это сообщение, которое формируется Пользователем на соответствующей странице Сайта, является акцептом Пользователя настоящего Соглашения и содержит размер пожертвований, а также наименования и формы приобретаемых арт-объектов. </div>

<div class="title">2. ОФОРМЛЕНИЕ ЗАКАЗА НА САЙТЕ </div>

<div class="item-terms">2.1. При оформлении заказа на Сайте Пользователь обязан предоставить достоверную и актуальную информацию, а также необходимые персональные данные. Пользователь несет ответственность за законность предоставленной информации и ее чистоту от претензий третьих лиц. </div>

<div class="item-terms">2.2. Если Пользователем не доказано обратное, любые действия, совершенные с использованием его электронной почты и/или телефона, считаются совершенными соответствующим Пользователем.</div>

<div class="item-terms">2.3. Если у администрации Сайта появятся разумные основания подозревать, что информация, размещаемая Пользователем, является ложной, неточной, неактуальной, вводящей в заблуждение или нарушающей интересы третьих лиц, а также действующее законодательство Российской Федерации, Сайт имеет право приостановить, прекратить и (или) отказать такому Пользователю в возможности дальнейшего использования Сайта (или любой его части).</div>

<div class="title">3. УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ УСЛУГ</div>

<div class="item-terms">3.1. Посредством Сайта Пользователи могут ознакомиться с оцифрованными изображениями арт-объектов, информацией об их авторах, фондах и/или других некоммерческих организациях, а также делать пожертвования путём приобретения соответствующего арт-объекта в оцифрованном формате (pre-NFT/NFT), его копии или оригинала в зависимости от условий, указанных на Сайте. </div>

<div class="item-terms">3.2. При совершении пожертвования путём приобретения соответствующего арт-объекта через Сайт Пользователь вступает в прямые (имеющие юридическую силу) договорные отношения с Сайтом.</div>

<div class="item-terms">3.3. Приобретая арт-объект в любом формате кроме pre-NFT/NFT, условия и сроки доставки устанавливаются в Заказе.</div>

<div class="item-terms">3.4. Приобретая арт-объект в формате pre-NFT, Пользователь получает уникальный номер pre-NFT (uuid), который вправе обменять на NFT.</div>

<div class="item-terms">3.5. Пользователь вправе на свое усмотрение подарить, обменять или продать приобретенный pre-NFT без уведомления об этом Сайта.</div>

<div class="item-terms">3.6. Сайт принимает на себя обязательство обмена pre-NFT на NFT «на предъявителя» – любому лицу (далее – «Предъявитель»), имеющему уникальный номер pre-NFT и надлежаще обратившемуся в установленные настоящим Соглашением сроки.</div>

<div class="item-terms">3.7. Для обмена pre-NFT на NFT Предъявитель должен в течение 365 календарных дней с момента приобретения Пользователем pre-NFT направить на электронную почту nft@tokendobra.ru следующую информацию: </div>

<div class="item-terms">- уникальный номер pre-NFT (uuid);</div>

<div class="item-terms">- номер своего криптокошелька в блокчейн-сети Solana.</div>

<div class="item-terms">3.8. После получения запроса об обмене pre-NFT на NFT Сайт отправляет Предъявителю подтверждение о том, что запрос принят. Отсутствие такого подтверждения свидетельствует о неполучении Сайтом запроса Предъявителя.</div>

<div class="item-terms">3.9. Сроки обмена pre-NFT на NFT составляют 5 (пять) рабочих дней с момента отправки Сайтом подтверждения о принятии запроса. </div>

<div class="item-terms">3.10. Предъявитель вправе дополнительно попросить Сайт, чтобы NFT был выпущен и отправлен на адрес в сети Etherium. В этом случае Предъявитель должен покрыть расходы на проведение операций по отправке NFT. Сроки обмена pre-NFT на NFT в сети Etherium составляют 5 (пять) рабочих дней с момента оплаты Предъявителем проведения операций и уведомления об этом Сайта.</div>

<div class="item-terms">3.11. В случае если Предъявитель захочет обменять pre-NFT на NFT по истечении 365 календарных днейс момента приобретения Пользователем pre-NFT, Сайт вправе отказать ему в этом без возврата каких-либо денежных средств. Также Сайт на свое усмотрение и с учетом текущей ситуации может согласиться совершить указанный обмен при условии, что Предъявитель покроет в целом или в части расходы на проведение операций по отправке NFT. В этом случае обмен NFT происходит в течение 5 (пяти) рабочих дней с момента оплаты Предъявителем проведения операций и уведомления об этом Сайта.</div>

<div class="title">4. ПЛАТЕЖИ НА САЙТЕ</div>

<div class="item-terms">4.1. Размер пожертвований устанавливается Сайтом самостоятельно либо с согласия соответствующего фонда или некоммерческой организации в зависимости от условий договора, заключенного между ними. </div>

<div class="item-terms">4.2. Суммы пожертвований, собранных через Сайт, передаются соответствующему фонду или другой некоммерческой организации за вычетом агентского вознаграждения и/или прочих расходов, согласованных в договоре между Сайтом и фондом и/или другой некоммерческой организацией.</div>

<div class="item-terms">4.3. В сумму пожертвований входят все налоги и сборы, установленные действующим законодательством Российской Федерации, а также иные платежи и сборы, предусмотренные договорными отношениями между фондами и прочими некоммерческими организациями и Сайтом, если иное прямо не указано на Сайте.</div>

<div class="title">5. ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ <</div>

<div class="item-terms">5.1. Одним из главных приоритетов Сайта является обеспечение надлежащей защиты информации о пользователях, в том числе их персональных данных, от несанкционированного доступа и разглашения.</div>

<div class="item-terms">5.2. Сайт не разглашает информацию третьим лицам без разрешения Пользователя, за исключением случаев, когда раскрытие такой информации необходимо для оказания Пользователю соответствующей услуги или когда в соответствии с действующим законодательством Российской Федерации раскрытие данной информации является обязательным.</div>

<div class="item-terms">5.3. Для защиты безопасности Сайт принимает технические и организационно-правовые меры в целях обеспечения защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий. </div>

<div class="item-terms">5.4. Сайт не проверяет достоверность информации, предоставляемой Пользователем. Вся полнота ответственности и все риски, связанные с правильностью и достоверностью информации, возлагается на разместившего её Пользователя. </div>


<div class="title">6. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ </div>

<div class="item-terms">6.1. Вся информация об арт-обьектах и их авторах размещается на Cайте в соответствии с договорными отношениями Cайта с фондами и другими некоммерческими организациями.</div>

<div class="item-terms">6.2. Несмотря на то, что администрация Сайта делает все возможное, чтобы обеспечить качество предоставляемых услуг, Сайт не может гарантировать абсолютную точность, полноту или аккуратность всей информации, размещенной на Сайте, а также не несёт ответственности за любые ошибки (в том числе опечатки, орфографические и пунктуационные), любые задержки, возникшие из-за временной и/или частичной поломки, ремонта, усовершенствования или поддержки Сайта, или чего-либо другого.</div>

<div class="item-terms">6.3. Пользователь не имеет права создавать внешние гиперссылки, использовать, копировать, отслеживать (например, с помощью программ "spider" и "scrape"), отображать, загружать или воспроизводить любую часть контента или информации, программного обеспечения, предоставляемых на Сайте, для любой коммерческой или конкурирующей деятельности, или цели.</div>

<div class="item-terms">6.4. В целях защиты интеллектуальной собственности и иных вещных прав Сайта и прочих лиц, настоящее Пользовательское соглашение устанавливает ряд ограничений в пользовании ресурсом, согласно которым, Пользователь не вправе:</div>

<div class="item-terms">- модифицировать, воспроизводить или иным образом создавать производные любой части Сайта;</div>

<div class="item-terms">- реконструировать, разбирать, менять или иным образом пытаться получить исходный код или структуру, последовательность и организацию всей или части Сайта;</div>

<div class="item-terms">- участвовать в любой деятельности, которая нарушает или может нарушить работу Сайта;</div>

<div class="item-terms">- выдавать себя за другое физическое или юридическое лицо; </div>

<div class="item-terms">- заведомо ложно заявлять или иным образом искажать свою сопричастность или связь с другими лицами или событиями;</div>

<div class="item-terms">- загружать, размещать, передавать или иным образом распространять любое содержание, которое нарушает чей-либо патент, торговую марку, коммерческую тайну, авторские права и другую интеллектуальную собственность или права собственности любого физического или юридического лица;</div>

<div class="item-terms">- загружать, размещать, передавать или иным образом распространять несогласованную рекламу, спам или иное навязывание услуг.</div>

<div class="item-terms">6.5. Сайт не несет ответственности при несанкционированном использовании личных данных и платежных реквизитов Пользователя, или при любом другом нарушении безопасности не по вине Сайта. Ответственность за получение третьим лицом уникального кода pre-NFT/NFTнесет Пользователь, в том числе в случае его кражи.</div>

<div class="item-terms">6.6. Право пользования Сайтом предоставляется по принципу «как есть». Сайт не несет какую-либо ответственность, включая, но не ограничиваясь, за скорость работы системы, подверженность хакерским атакам, нарушение пригодности для каких-либо целей, прерывание работы, за не сохранение информации, за точность вводимых данных, за содержание контента, действия или бездействия любого Пользователя, благонадежность фондов и/или некоммерческих организаций, если Сайт проявил всю необходимую осмотрительность при проверке их деятельности и не имел оснований усомниться в неблагонадежности последних.</div>

<div class="item-terms">6.7. Согласно ограничениям, установленным в настоящем Соглашении, Сайт несет ответственность только за вред действительно причиненный вследствие действительного невыполнения своих обязательств при предоставлении услуг в пределах совокупной суммы пожертвований, за которые Пользователю не были переданы приобретенные арт-объекты в согласованной форме.</div>

<div class="item-terms">6.8. Пользователь предупрежден о том, что Сайт не несет ответственности за посещение и использование Пользователем внешних ресурсов, ссылки на которые могут содержаться на Сайте. </div>

<div class="item-terms">6.9. Сторона не считается нарушившей свои обязательства в случае, если такое нарушение было вызвано неисполнением обязанностей другой стороной.</div>

<div class="item-terms">6.10. Стороны обязаны уведомлять друг друга об изменениях своих контактных и (или) платежных реквизитов и об иных обстоятельствах, которые могут повлиять на исполнение сторонами своих обязанностей. Сторона, не исполнившая указанную обязатенность, несет риск последствий, связанных с таким неисполнением.</div>

<div class="item-terms">6.11. Сообщения Сайта, направляемые на адрес электронной почты Пользователя или Предъявителя, указанные при формировании заказа или направлении запроса, признаются сторонами официальными и имеющими юридическую силу.</div>

<div class="title">7. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ </div>

<div class="item-terms">7.1. Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации.</div>

<div class="item-terms">7.2. В случае возникновения любых споров или разногласий, связанных с исполнением настоящего Соглашения, стороны приложат все усилия для их разрешения путем проведения переговоров. В случае, если споры не будут разрешены путем переговоров, они подлежат разрешению в порядке, установленном действующим законодательством Российской Федерации. </div>

<div class="item-terms">7.3. Настоящее Соглашение вступает в силу для Пользователя с оформления заказа, для Предъявителя – c момента получения Сайтом надлежащего запроса на обмен pre-NFT на NFT, и действуют в течение неопределенного срока.</div>

<div class="item-terms">7.4. Настоящее Соглашение может быть изменено и/или дополнено администрацией Сайта в одностороннем порядке без какого-либо специального уведомления.</div>

<div class="item-terms">7.5. Настоящее Соглашение является открытым и общедоступным документом. Действующая редакция располагается в сети Интернет по адресу: https://tokendobra.ru/termsofservivce. Пользователю следует регулярно проверять условия настоящего Соглашения на предмет их изменения и/или дополнения. Продолжение пользования Сайтом после внесения изменений и/или дополнений в настоящее Соглашение означает принятие и согласие Пользователя с такими изменениями и/или дополнениями. </div>


   </div>
</div>

{% endblock %}
