    <div class="first-block">
        <div class="container">
            <div class="top-content">
                <div class="left-side">
                    <p>Charity  <br><span class="italic">NFT gallery</span><br>
                        of artworks by people with special needs </p>
                    <a href="" class="btn-black">Discover artworks</a>
                </div>
                <img src="https://github.com/jamb17/token-dobra/blob/main/image%203%20pc.png?raw=true"
                    alt="">
            </div>
            <div class="line"></div>
            <p class="bottom-description">Make a donation and get an NFT artwork or its original. No cryptocurrency, all you need is a bank card.</p>
        </div>
    </div>
