    <div class="description">
         {{organization.view.description | safe }}    
    </div>
    <div>
       City: <a href="{{organization.view.site}}" target='_blank'>{{organization.view.city}}</a>
    </div>
    <div>
       Site: <a href="{{organization.view.site}}" target='_blank'>{{organization.view.site}}</a>
    </div>

