{% set main_css = 'assets/css/main/main.css' %}
{% set media_css = 'assets/css/main/media.css' %}
{% set main_js = 'assets/js/main/script.js' %}


{% extends "../layouts/marketplace.layout.njk" %}

{% block content %}
<div class='terms'>
   <div class="container">
      <center>
         <div class="title">Terms of Service</div>
      <center>
<br/>
<div class="item-terms">
Welcome to the site <a href="https://joincharible.com">https://joincharible.com</a>, an Internet resource that allows Internet users to make donations and purchase originals, copies or digitized versions (in pre NFT / NFT formats) of art objects created by people with disabilities, on the terms of the following User Agreement!
</div>
<br/>
<div class="title">USER AGREEMENT</div>
<br/>

<div class="title">1. GENERAL PROVISIONS</div>
<br/>
<div class="item-terms">1.1. This User Agreement is a legally binding agreement between the Internet user and Grains of Good Foundation (501(c)(3)), EIN 81-2978117.703 Crestview Drive, San Carlos, CA, 94070 USA, hereinafter referred to as the "Website" or “Site”,located at: joincharible.com/termsofservice</div>
<div class="item-terms">1.2. All rights to the Site as a whole and to use the network address joincharible.com belong to Grains of Good Foundation</div>
<div class="item-terms">1.3. The User under this Agreement is recognized as a capable natural person who has reached the age of 18, who accepts the terms of this Agreement by placing an order in the prescribed manner on the Site and / or by continuing to use the functionality of the Site.</div>
<div class="item-terms">1.4. The User is obliged to fully familiarize himself with this User Agreement before placing an order on the Site tokendobra.ru. Placing an order means the full and unconditional acceptance by the User of the terms of this User Agreement.</div>
<div class="item-terms">1.5. Unless otherwise required by the context, the following terms and definitions used in this Agreement have the following meanings:</div>
<div class="item-terms">"Art object" is a unique creation created by a person with disabilities. This concept includes paintings, sculptures, installations, graphics, engravings, photographs, design, musical and text recordings, handicrafts and any other products that resemble works of art;</div>
<div class="item-terms">"Digitized image" - a photograph or recording of an art object converted into a digital format (including the format of a unique NFT token);</div>

<div class="item-terms">"NFT" - a type of cryptographic non-fungible tokens (a unique digital code), each copy of which contains information about the original email address of the creator and subsequent addresses of the owners of a particular token;</div>

<div class="item-terms">"Pre-NFT" is a unique code of letters and numbers (uuid) received by the User before the release of the NFT token, which grants the right to exchange it for NFT;</div>

<div class="item-terms">"Order" is a message that is generated by the User on the corresponding page of the Site, is the User's acceptance of this Agreement and contains the amount of donations, as well as the names and forms of the acquired art objects.</div>

<div class="title">2. ORDERING ON THE SITE</div>

<div class="item-terms">2.1. When placing an order on the Site, the User is obliged to provide reliable and up-to-date information, as well as the necessary personal data. The user is responsible for the legality of the information provided and its purity from the claims of third parties.</div>

<div class="item-terms">2.2. Unless proven otherwise by the User, any actions performed using his e-mail and / or phone are considered to be committed by the relevant User.</div>

<div class="item-terms">2.3. If the Site administration has reasonable grounds to suspect that the information posted by the User is false, inaccurate, out of date, misleading or violating the interests of third parties, the Site has the right to suspend, terminate and (or) refuse such The User in the possibility of further use of the Site (or any part thereof).</div>

<div class="title">3. TERMS OF SERVICE</div>

<div class="item-terms">3.1. Through the Site, Users can get acquainted with digitized images of art objects, information about their authors, foundations and / or other non-profit organizations, as well as make donations by purchasing the corresponding art object in a digitized format (pre-NFT / NFT), its copy or original subject to the conditions specified on the Site.</div>

<div class="item-terms">3.2. When making a donation by acquiring the corresponding art object through the Site, the User enters into direct (legally binding) contractual relations with the Site.</div>

<div class="item-terms">3.3. When purchasing an art object in any format other than pre-NFT/NFT, the terms and conditions of delivery are set in the Order.</div>

<div class="item-terms">3.4. By purchasing an art object in pre-NFT format, the User receives a unique pre-NFT number (uuid), which can be exchanged for NFT.</div>

<div class="item-terms">3.5. The User has the right, at his own discretion, to donate, exchange or sell the purchased pre-NFT without notifying the Site about it.</div>

<div class="item-terms">3.6. The site assumes the obligation to exchange pre-NFT for NFT "to the bearer" - to any person (hereinafter referred to as the "Bearer") who has a unique pre-NFT number and who duly applied within the terms established by this Agreement.</div>

<div class="item-terms">3.7. To exchange pre-NFT for NFT, the Bearer must, within 365 calendar days from the date of purchase by the User of pre-NFT, send the following information to the e-mail info@joincharible.com:</div>

<div class="item-terms">- unique pre-NFT number (uuid);</div>

<div class="item-terms">- the number of your crypto wallet in the Solana blockchain network.</div>

<div class="item-terms">3.8. After receiving a request to exchange pre-NFT to NFT, the Site sends a confirmation to the Bearer that the request has been accepted. The absence of such confirmation indicates that the Site did not receive the request of the Bearer.</div>

<div class="item-terms">3.9. The terms for exchanging pre-NFT for NFT are 5 (five) working days from the moment the Site sends confirmation of acceptance of the request.</div>

<div class="item-terms">3.10. The bearer has the right to additionally ask the Site for the NFT to be issued and sent to an address on the Etherium network. In this case, the Bearer must cover the costs of NFT sending operations. The terms for exchanging pre-NFT for NFT in the Etherium network are 5 (five) business days from the date of payment by the Bearer for the operations and notification of the Site.</div>

<div class="item-terms">3.11. If the Bearer wants to exchange pre-NFT for NFT after 365 calendar days from the date of purchase by the User of pre-NFT, the Site has the right to refuse him this without returning any funds. Also, the Site, at its own discretion and taking into account the current situation, may agree to make the specified exchange, provided that the Bearer covers in whole or in part the costs of carrying out NFT sending operations. In this case, the NFT exchange takes place within 5 (five) working days from the date of payment by the Bearer for the operations and notification of the Site.</div>

<div class="title">4. PAYMENTS ON THE SITE</div>

<div class="item-terms">4.1. The amount of donations is set by the Site independently or with the consent of the relevant fund or non-profit organization, depending on the terms of the agreement concluded between them.</div>

<div class="item-terms">4.2. The amounts of donations collected through the Site are transferred to the relevant foundation or other non-profit organization, minus the agency fee and / or other expenses agreed in the agreement between the Site and the foundation and / or other non-profit organization.</div>

<div class="item-terms">4.3. The amount of donations includes all taxes and fees, as well as other payments and fees provided for by contractual relations between foundations and other non-profit organizations and the Site, unless otherwise expressly indicated on the Site.</div>

<div class="title">5. PRIVACY POLICY<</div>

<div class="item-terms">5.1. One of the main priorities of the Site is to ensure proper protection of information about users, including their personal data, from unauthorized access and disclosure.</div>

<div class="item-terms">5.2. The Site does not disclose information to third parties without the permission of the User, except when the disclosure of such information is necessary to provide the User with the relevant service, the disclosure of this information is mandatory.</div>

<div class="item-terms">5.3. To protect security, the Site takes technical, organizational and legal measures to ensure the protection of personal data from unauthorized or accidental access to them, destruction, modification, blocking, copying, distribution, as well as from other illegal actions.</div>

<div class="item-terms">5.4. The Site does not verify the accuracy of the information provided by the User. Full responsibility and all risks associated with the correctness and reliability of the information are assigned to the User who posted it.</div>


<div class="title">6. LIMITATION OF LIABILITY</div>

<div class="item-terms">6.1. All information about art objects and their authors is posted on the Site in accordance with the contractual relations of the Site with the foundations and other non-profit organizations.</div>

<div class="item-terms">6.2. Despite the fact that the administration of the Site does its best to ensure the quality of the services provided, the Site cannot guarantee the absolute accuracy, completeness or accuracy of all information posted on the Site, and is not responsible for any errors (including typos, spelling and punctuation), any delays due to temporary and / or partial breakdown, repair, improvement or support of the Site, or anything else.</div>

<div class="item-terms">6.3. The User may not create external hyperlinks, use, copy, monitor (for example, using the "spider" and "scrape" programs), display, download or reproduce any part of the content or information, software provided on the Site, for any commercial or competing activity or goal.</div>

<div class="item-terms">6.4. In order to protect intellectual property and other proprietary rights of the Site and other persons, this User Agreement establishes a number of restrictions on the use of the resource, according to which the User is not entitled to:</div>

<div class="item-terms">- modify, reproduce or otherwise create derivative works of any part of the Site;</div>

<div class="item-terms">- reverse engineer, disassemble, modify or otherwise attempt to obtain the source code or structure, sequence and organization of all or part of the Site;</div>

<div class="item-terms">- engage in any activity that disrupts or may disrupt the operation of the Site;</div>

<div class="item-terms">- impersonate another person or entity;</div>

<div class="item-terms">- knowingly falsely state or otherwise misrepresent their involvement or connection with other persons or events;</div>

<div class="item-terms">- upload, post, transmit or otherwise distribute any content that infringes anyone's patent, trademark, trade secret, copyright or other intellectual property or proprietary right of any person or entity;</div>

<div class="item-terms">- upload, post, transmit or otherwise distribute unsolicited advertising, spam or other solicitation of services.</div>

<div class="item-terms">6.5. The Site is not responsible for the unauthorized use of the User's personal data and payment details, or for any other breach of security through no fault of the Site. The User is responsible for obtaining a unique pre-NFT/NFT code by a third party, including in case of its theft.</div>

<div class="item-terms">6.6. The right to use the Site is provided on an "as is" basis. The site does not bear any responsibility, including, but not limited to, for the speed of the system, susceptibility to hacker attacks, violation of suitability for any purpose, interruption of work, for not saving information, for the accuracy of input data, for content content, actions or the inaction of any User, the trustworthiness of foundations and / or non-profit organizations, if the Site showed all the necessary prudence when checking their activities and had no reason to doubt the unfavorability of the latter.</div>

<div class="item-terms">6.7. According to the restrictions set forth in this Agreement, the Site is only liable for harm actually caused as a result of the actual failure to fulfill its obligations in the provision of services within the total amount of donations for which the acquired art objects were not transferred to the User in the agreed form.</div>

<div class="item-terms">6.8. The User is warned that the Site is not responsible for the visit and use by the User of external resources, links to which may be contained on the Site.</div>

<div class="item-terms">6.9. A party is not considered to be in breach of its obligations if such breach was caused by the failure of the other party to fulfill its obligations.</div>

<div class="item-terms">6.10. The parties are obliged to notify each other about changes in their contact and (or) payment details and about other circumstances that may affect the performance of their obligations by the parties. The party that fails to fulfill the specified obligation bears the risk of consequences associated with such failure.</div>

<div class="item-terms">6.11. Site messages sent to the e-mail address of the User or the Bearer specified when placing an order or sending a request are recognized by the parties as official and legally binding.</div>

<div class="title">7. FINAL PROVISIONS</div>

<div class="item-terms">7.1. This Agreement is governed by and construed in accordance with the laws of the United States. Issues not regulated by the Agreement shall be resolved in accordance with the legislation of the United States.</div>

<div class="item-terms">7.2. In the event of any disputes or disagreements related to the execution of this Agreement, the parties will make every effort to resolve them through negotiations. In the event that disputes are not resolved through negotiations, they are subject to resolution in the manner prescribed by the current legislation of the United States.</div>

<div class="item-terms">7.3. This Agreement enters into force for the User upon placing an order, for the Bearer - from the moment the Site receives a proper request for the exchange of pre-NFT for NFT, and is valid for an indefinite period.</div>

<div class="item-terms">7.4. This Agreement may be amended and / or supplemented by the Site administration unilaterally without any special notice.</div>

<div class="item-terms">7.5. This Agreement is an open and public document. The current edition is located on the Internet at: <a href="https://joincharible.com/termsofservivce">https://joincharible.com/termsofservivce</a>. The User should regularly check the terms of this Agreement for changes and / or additions. Continued use of the Site after changes and / or additions to this Agreement are made means the acceptance and consent of the User with such changes and / or additions.</div>


   </div>
</div>

{% endblock %}
