<div class="pre-nft-popup">
        <div class="content">
            <div class="close-popup"></div>
            <div class="text">
                <p class="head">What is pre-NFT?</p>
                <div class="divider"></div>
                <p class="info">By making a donation on our website, you will receive pre-NFT. This is a voucher that reserves the NFT of the selected artwork for you. You don't need a Web3 wallet or cryptocurrency to make a donation. You can exchange the received pre-NFT for an NFT token at any time. This simplified NFT purchase option is suitable for everyone, especially for those who have not yet figured out Web3 technology.</p>
            </div>
            <div class="text">
                <p class="head">How to exchange pre-NFT for NFT?</p>
                <div class="divider"></div>
                <p class="info">It's very simple. You can exchange pre-NFT for NFT whenever you are ready, for example, get a Web3 wallet. After that, you will need to email to to info@joincharible.com the pre-NFT number and address of the Web3 wallet where you want us to send the issued NFT.<br><br></p>
            </div>
        </div>
    </div>

    <div class="mobile-popup first">
        <div class="content">
            <div class="link">How to exchange pre-NFT for NFT? ></div>
            <div class="close-popup"></div>
            <div class="text">
                <p class="head">What is pre-NFT?</p>
                <div class="divider"></div>
                <p class="info">By making a donation on our website, you will receive pre-NFT. This is a voucher that reserves the NFT of the selected artwork for you. You don't need a Web3 wallet or cryptocurrency to make a donation. You can exchange the received pre-NFT for an NFT token at any time. This simplified NFT purchase option is suitable for everyone, especially for those who have not yet figured out Web3 technology.</p>
            </div>
        </div>
    </div>

    <div class="mobile-popup second">
        <div class="content">
            <div class="link">< What is pre-NFT?</div>
            <div class="close-popup"></div>
            <div class="text">
                <p class="head">How to exchange pre-NFT for NFT?</p>
                <div class="divider"></div>
                <p class="info">It's very simple. You can exchange pre-NFT for NFT whenever you are ready, for example, get a Web3 wallet. After that, you will need to email to to info@joincharible.com the pre-NFT number and address of the Web3 wallet where you want us to send the issued NFT.</p>
            </div>
            </div>
        </div>
    </div>
