<div class='congratulation'>
   <div class='container'>
     <div class='head'>
        <h1>Благодарим за пожертвование</h1>
     </div>
     <div class='contact'>
        Подтверждение о покупке отправлено на <span class='email'>{{holder.email}}</span>
     </div>
     <div class='contact'>
        Если вы выбрали физический оригинал картины, то в ближайшее время с вами свяжется менеджер и уточнит детали доставки
     </div>
   </div>

</div>
